/Client/Library
/Server/Library
/Server/Server.CSharp.csproj
/Server/Server.sln
/Server/Server.v12.suo
/Server/Temp
/Client/Client.CSharp.csproj
/Client/Client.sln
/Client/Client.v12.suo
/Client/Temp
/Server/GameServer_Data
/Server/GameServer.exe
/Client/Client.exe
/Client/Client_Data
/Server/SqlServer_Data
/Server/SqlServer.exe
/Server/MasterServer_Data
/Server/MasterServer.exe
